@import fleetmanagement.frontend.model.*
@args InstallPackageModal vm

<script src="/js/vehicle-install-package.js"></script>

<style>
	.modal-content table {
		width: 100%;
	}
	
	.start-installation tr.with-pointer:hover {
		cursor: pointer;
		background: #dff0d8;
	}
	
	.start-installation tr.greyed-out {
		color: #ccc;
	}

	.start-installation tr.selected {
		background-color: #dff0d8;
	}
	
	.category {
		background: #fafafa;
	}
	
	.package-icon {
		width: 20px;
		height: 20px;
		vertical-align: bottom;
	}
	
	.modal .btn {
		width: 130px;
	}

</style>

<div class="modal fade" id="install-package-dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="post" action="/vehicles/@vm.vehicleKey/install-package" class="start-installation">
				<div class="modal-header">
					<h2 class="modal-title">@i18n("vhcl_instl_pkg_install_package_on-vehicle", vm.vehicleName)</h2>
				</div>
				<div class="modal-body">
					@if(vm.packageTypes.size() > 0) {
						<table class="table">
						<thead>
							<tr>
								<th style="width: 30px"></th>
								<th>Paket</th>
								<th>@i18n("vhcl_instl_pkg_status")</th>
							</tr>
						</thead>
						<tbody>
							@for(InstallPackageModal.InstallablePackageType type : vm.packageTypes) {
								<tr class="category">
									<td><img src="/img/@type.icon" class="package-icon" alt=""></td>
									<td colspan="2">@type.name</td>
								</tr>
								@for(InstallPackageModal.InstallablePackage pkg : type.installablePackages) {
									<tr @if (!pkg.isInstallable) {class="greyed-out"} else {class="with-pointer"}>
										<td class="text-center">
											<input @if (!pkg.isInstallable) {disabled="disabled"} type="radio" name="package" value="@pkg.packageId">
										</td>
										<td>@pkg.name</td>
										<td>@pkg.status</td>
									</tr>
								}
							}
						</tbody>
						</table>

					} else {
						<p>@i18n("vhcl_instl_pkg_no_packages")</p>
					}


				</div>
				<div class="modal-footer">
					<a href="/vehicles/@vm.vehicleKey" class="btn btn-default">@i18n("general_close")</a>
					@if(vm.isAtLeastOnePackageInstallable) {
						<input
								id="start-installation-button"
								class="btn btn-primary"
								value='@i18n("general_ok")'
								onclick="createConfirmDialog()"
						>
					}
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="confirm-installation-dialog" tabindex="-1" role="dialog" aria-labelledby="confirm-installation-dialog-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="confirm-installation-dialog-label">@i18n("vehicle_install_package_confirm_installation_dialog_title")</h4>
			</div>
			<div class="modal-body">
				<div>
					<label>@i18n("vehicle_install_package_confirm_installation_dialog_selected_package")</label>
					<label id="modal-package"></label>
				</div>
				<div>
					<label>@i18n("vehicle_install_package_confirm_installation_dialog_selected_vehicle")</label>
					<label id="modal-vehicle">@vm.vehicleName</label>
				</div>
			</div>
			<div class="modal-footer">
				<button
						type="button"
						id="acceptButton"
						class="btn btn-primary"
						data-dismiss="modal"
						onclick="submitInstallation()"
				>
					@i18n("general_ok")
				</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">@i18n("general_cancel")</button>
			</div>
		</div>
	</div>
</div>