@import fleetmanagement.frontend.model.*
@args VehicleDetails vm, Security security
@{VehicleDetails vehicleDetails = vm;}

<link href="/css/task-table.css" type="text/css" rel="stylesheet"/>

<h2>@i18n("tasks_running_tasks")</h2>

	@for(VehicleDetails.RunningTask task: vehicleDetails.runningTasks) {
	<div class="task">
		<table>
			<tr>
				<td class="col-label">@i18n("tasks_status")</td>
				<td>
					@if (task.taskWasStartedOnVehicle) {
					<div class="progress progress-striped active">
						<div class="progress-bar" style="width: @task.progress%">
							<span>@task.progress% (@task.status)</span>
						</div>
					</div>
					} else {
					<span class="text-warning">@i18n("tasks_waiting")</span>
					}
				</td>
			</tr>
			<tr>
				<td class="col-label">@i18n("general_package")</td>
				<td style="width: 300px"><a href="/packages/@task.packageId">@task.packageName</a></td>
			</tr>
			<tr>
				<td class="col-label">@i18n("tasks_started_at")</td>
				<td>@task.startDate.format("short-datetime")</td>
			</tr>
			<tr>
				<td class="col-label">@i18n("tasks_estimated_completion")</td>
				<td>@task.estimatedCompletion</td>
			</tr>
		</table>

		<div class="task-operations">
			<form method="post" action='/vehicles/@vehicleDetails.id/tasks/@task.taskId/cancel' class="cancel-task">
				<div class="btn-group btn-group-sm">
					<a
							class="btn btn-default button-show-logs"
							href='/vehicles/@vehicleDetails.id/tasks/@task.taskId'
							title='@i18n("tasks_show_logs")'
					>
						<span class="glyphicon glyphicon-list"></span>
					</a>
					@if(security.hasWritePermission) {
						<button
								type="submit"
								class="btn btn-danger button-cancel"
								title='@i18n("general_cancel")'
						>
							<span class="glyphicon glyphicon-stop"></span>
						</button>
					} else {
						<button
								type="submit"
								class="btn btn-default button-cancel disabled-link"
								title='@i18n("permission_denied")'
								disabled
						>
							<span class="glyphicon glyphicon-stop"></span>
						</button>
					}
				</div>
			</form>
		</div>

		<div class="clear"></div>
	</div>

} else {
	@i18n("tasks_no_running_tasks")
}

<h2>@i18n("tasks_recent_tasks")</h2>
@if (!vehicleDetails.completedTasks.isEmpty()) {
<table class="table">
	<thead>
		<tr>
			<th>@i18n("vehicle_tasks_status")</th>
			<th >@i18n("vehicle_tasks_started")</th>
			<th >@i18n("tasks_completed_at")</th>
			<th>@i18n("general_package")</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@for(VehicleDetails.CompletedTask task: vehicleDetails.completedTasks) {
		<tr>
			<td style="width: 24px"><div class="status-icon @task.statusCssClass" title="@task.status"></div></td>
			<td class="nowrap ">@task.startDate.format("short-datetime")</td>
			<td class="nowrap " style="width: 154px">@task.completionDate.format("short-datetime")</td>
			<td><a href="/packages/@task.packageId">@task.packageName</a></td>
			<td align="right">
				<a
						href="/vehicles/@vehicleDetails.id/tasks/@task.taskId"
						class="btn btn-xs btn-default button-show-logs"
						title='@i18n("tasks_logs")'
				>
					<span class="glyphicon glyphicon-list"></span>
				</a>
			</td>
		</tr>
		}
		<tr>
			<td></td>
			<td ></td>
			<td colspan="2"><a href='/vehicles/@vehicleDetails.id/tasks'>@i18n("tasks_show_all_tasks")</a></td>
		</tr>
	</tbody>
</table>
} else {
	<p>@i18n("tasks_no_completed_tasks")</p>
}

