<active-directory>
	<connection>
		<url>ldap://active-directory:389</url>
		<user>Administrator</user>
		<password>12345678</password>
		<domain>example.com</domain>
	</connection>
	<group-roles-mapping>
		<map group="Dev-India" to-roles="admin,user" />
		<map group="Dev-Spain" to-roles="viewer" />
	</group-roles-mapping>
</active-directory>
