<!-- Rename this file to security.config to enable FIM user authentication with this list of username/passwords. -->
<user-list>
	<user login="JohnF" password="12345" roles="admin,user" />
	<user login="WilliamB" password="abcdef" roles="user" />
	<user login="JackD" password="qwer" roles="viewer" />
</user-list>
